{% extends 'base.html'%}
{% load static %}
{% block content %}
<div class="row">
<div class="col-md-8"></div>
<div class="col-md-4">

      <a href="/add-semester" class="btn btn-primary" type="submit">ADD SEMESTER
        <i class="mdi mdi-plus icon-sm align-middle"></i></a>
   

</div>
</div>

<table class="table">
    <thead>
      <tr>
        <th scope="col">Semester</th>
        <!-- <th scope="col">Status</th> -->
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
        {%for semester in semesters%}
      <tr>
        <td>{{semester.semname}}</td>
        <!-- <td><a class="btn btn-light">Approved</a></td> -->
        <td><a href="/edit-semester/{{semester.id}}" class="btn btn-primary">Edit</a></td>
        
        <td>
            <form method="post" action="/remove-semester/{{semester.id}}">
                {%csrf_token%}<button class="btn btn-danger btn-sm" type="submit">Remove</form>
        </td>
      </tr>
      {%endfor%}
    </tbody>
  </table>

{%endblock%}