{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>College Management System</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{% static 'images/icons/favicon.ico '%}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'admin_vendor/bootstrap/css/bootstrap.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'admin_fonts/font-awesome-4.7.0/css/font-awesome.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'admin_vendor/animate/animate.css'%}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'admin_vendor/css-hamburgers/hamburgers.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'admin_vendor/select2/select2.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/admin_util.css'%}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/admin.css'%}">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-pic js-tilt" data-tilt>
					<img src="{% static 'images/img-01.png'%}" alt="IMG">
				</div>

				<form class="login100-form validate-form" method="post" href="/login">
                    {%for message in messages%}
                    <div class="alert alert-light text-center text-danger alert-dismissible fade show" >
                        <span > {{message}}</span>
                        
                    </div>
                    {%endfor%}
                    {%csrf_token%}
					<span class="login100-form-title">
						Login
					</span>
                    
                    
                
                    <div class="wrap-input100 validate-input" data-validate = "Enter username">
                        <input class="input100" type="email" name="email" placeholder="Enter email" required>
                        <span class="focus-input100" data-placeholder="&#xf207;"></span>
                    </div>
                
                    <div class="wrap-input100 validate-input" data-validate="Enter password">
                        <input class="input100" type="password" name="password" placeholder="Enter password" required>
                        <span class="focus-input100" data-placeholder="&#xf191;"></span>
                    </div>
                
                    
                
                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn">
                            Login
                        </button>
                    </div>
                
                    <div class="text-center p-t-90">
                        <a class="txt1" href="forgot.html">
                            Forgot Password?
                        </a>
                    </div>
                    
                </form>
			</div>
		</div>
	</div>
	
	

	
<!--===============================================================================================-->	
	<script src="{% static 'admin_vendor/jquery/jquery-3.2.1.min.js'%}"></script>
<!--===============================================================================================-->
	<script src="{% static 'admin_vendor/bootstrap/js/popper.js'%}"></script>
	<script src="{% static 'admin_vendor/bootstrap/js/bootstrap.min.js'%}"></script>
<!--===============================================================================================-->
	<script src="{% static 'admin_vendor/select2/select2.min.js'%}"></script>
<!--===============================================================================================-->
	<script src="{% static 'admin_vendor/tilt/tilt.jquery.min.js'%}"></script>
	<script >
		$('.js-tilt').tilt({
			scale: 1.1
		})
	</script>
<!--===============================================================================================-->
	<script src="{% static 'js/admin.js'%}"></script>

</body>
</html>