{% extends 'base.html'%}
{% load static %}
{% block content %}
<style>
  .error{
      color: red;
  }
</style>
<form method="post" href="/add-fee" id="add_fee">
 
{%csrf_token%}
    <div class="row">
        
          <div class="col-md-6">
            <label  class="form-label">Department</label>
            <select  class="form-select" name="department">
                {%for department in departments%}
                <option selected value="{{department.id}}">{{department.dname}}</option>
                {%endfor%}
              </select>
          </div>
          <div class="col-md-6">
            <label  class="form-label">Category</label>
            <select  class="form-select" name="fcategory">
                {%for fee_category in fee_categories%}
                <option selected value="{{fee_category.0}}">{{fee_category.1}}</option>
                {%endfor%}
              </select>
          </div>

    </div>
    <div class="row">
        
        <div class="col-md-6">
          <label  class="form-label">Amount</label>
          <input type="amount" class="form-control" name="amount">
        </div>
        <div class="col-md-6">
          <label  class="form-label">Payment Date</label>
          <input type="date" class="form-control" name="pdate">
        </div>
        
  </div>
  <div class="row">
        
    <div class="col-md-6">
      <label  class="form-label">Semester</label>
      <select  class="form-select" name="semester">
          {%for semester in semesters%}
          <option selected value="{{semester.id}}">{{semester.semname}}</option>
          {%endfor%}
      </select>
    </div>
  </div>
    <div class="row">
    <div class="col-12 text-center">
        <button type="submit" class="btn btn-primary mt-5">ADD</button>
      </div>
    </div>
</form>
{%endblock%}
{%block script%}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js" integrity="sha512-rstIgDs0xPgmG6RX1Aba4KV5cWJbAMcvRCVmglpam9SoHZiUCyQVDdH2LPlxoHtrv17XWblE/V/PP+Tr04hbtA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
$(document).ready(function () {
  $("#add_fee").validate({
    rules: {
      amount: {
        required: true,
        number: "Please enter a valid number",
      },
      pdate: {
        required: true,
       

      },
    },
  });
});
</script>
{%endblock%}