{% extends 'base.html'%}
{% load static %}
{% block content %}

<!-- Set up a container element for the button -->
<div>
  <h2>Amount:{{fee.fees}}</h2>
  <h2>Quota:{{fee.fee_value}}</h2>
  <h2>{{data}}</h2>
</div>
<div id="paypal-button-container" ></div>

<div class="  p-lr-40 p-t-20 p-b-40 m-l-63 m-r-40 m-lr-0-xl p-lr-15-sm">
  <button type="button" class="btn btn-dark payWithRazorpay w-50 rounded-pill" 
   id="rzp-button1" style="height:45px;border-radius: 50px;font-weight:bold;font-size:19px;">
   <i>RazorPay</i>
  </button>
</div>
  
{%endblock%}
{%block script%}
<script src="https://www.paypal.com/sdk/js?client-id=AfsGXxjdBcbME4FfGIn3n3HHTjQ7FuXhxi5_ZJCq7btpv9KFp_IHYd-scP0v4TGyso9zRz1ma6yqgSX8&currency=USD"></script>
<script>
  

 
  paypal.Buttons({
    // Sets up the transaction when a payment button is clicked
    createOrder: (data, actions) => {
      return actions.order.create({
        purchase_units: [{
          amount: {
            value: '{{fee.fees}}' // Can also reference a variable or function
          }
        }]
      });
    },
    // Finalize the transaction after payer approval
    onApprove: (data, actions) => {
      
      return actions.order.capture().then(function(orderData) {
        // Successful capture! For dev/demo purposes:
        console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
        const transaction = orderData.purchase_units[0].payments.captures[0];
        var amount = transaction.amount.value;
        const fee_detail={
          'fee':amount,
          'semester_id':'{{fee.semester_id}}',
          'department_id':'{{fee.department_id}}',
          'fee_category':'{{fee.fee_value}}',
          'date':'{{fee.last_date}}',
          "csrfmiddlewaretoken": '{{csrf_token}}'
        }
       
        $.ajax({
          url: "/payment/{{fee.id}}",
          method: 'POST',
          data: fee_detail,
          dataType: 'json',
          success: function (data) {
            window.location.replace('/student-fee')

          }
      })
        alert(`Transaction ${transaction.status}: ${transaction.id}\n\nSee console for all available details`);
        // When ready to go live, remove the alert and show a success message within this page. For example:
        // const element = document.getElementById('paypal-button-container');
        // element.innerHTML = '<h3>Thank you for your payment!</h3>';
        // Or go to another URL:  actions.redirect('thank_you.html');
      });
    }
  }).render('#paypal-button-container');
</script>

<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<script>

  $(document).ready(function() {
    $('#rzp-button1').click(function (e) { 
    
      var payment = "Razorpay"
      var token = $("input[name='csrfmiddlewaretoken']").val()
      e.preventDefault();
      $.ajax({
            type: "GET",
            url: "/payment/{{fee.id}}",
            success: function (response) {
              
                var options={
                    "key": "rzp_test_JeIuBXxwdG9tNG", // Enter the Key ID generated from the Dashboard
                    //"amount": response.total*100,//response.total, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
                    "amount":'{{fee.fees}}'*100,
                    "currency": "INR",
                    "name": "cart",
                    "description": "Thank you for shopping with us",
                     "image": "https://example.com/{{fee.student.user.profile_image}}", 
                    // "order_id": response.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
                    "handler": function (response){
                        // alert(response.razorpay_payment_id);
                        data = {
                            'fee':'{{fee.fees}}',
                            'semester_id':'{{fee.semester_id}}',
                            'department_id':'{{fee.department_id}}',
                            'fee_category':'{{fee.fee_value}}',
                            'date':'{{fee.last_date}}',
                            'csrfmiddlewaretoken': token
                        }
                        $.ajax({
                            type: "POST",
                            url: "/payment/{{fee.id}}",
                            data: data,
                            success: function(response) {
                              console.log(response)
                              
                                swal({
                                  title: "Payment Successful",
                                  text: "Your payment is successful",
                                  icon: "success",
                                  button: "OK",
                                }).then(function() {
                                  window.location.href = "/";
                                });
                              }
                        });
                    },
                    "prefill": {
                        "name": "Shamila",
                        "email": "",
                        "contact": "987654321",
                    },
                    "notes": {
                        "address": "Razorpay Corporate Office"
                    },
                    "theme": {
                        "color": "#3399cc"
                    },
                };
                var rzp1 = new Razorpay(options);
                rzp1.open();
            }
        });
    });
  });
</script>




{%endblock%}