{% extends 'base.html'%}
{% load static %}
{% block content %}
<div class="row">
  <div class="col-md-8"></div>
  <div class="col-md-4">
    <a href="/class/{{class_id}}/semester/{{semester_id}}/subject/{{subject_id}}/study-materials/{{module_name}}/add-material" class="btn btn-primary" type="submit">ADD MATERIALS
      <i class="mdi mdi-plus icon-sm align-middle"></i></a>
  </div>
 
</div>
<div class="row">
    <div class="col-md-8"></div>
   
    </div>
    <div class="table-responsive mt-5">
  <table class="table" id="edit_requests">
      <thead>
        <tr>
          <th scope="col">Upladed File</th>
          <th scope="col">Category</th>
          <th scope="col">Uploaded Date</th>
          <th scope="col"></th>
          <th></th>
          <th></th>
        </tr>
      </thead>    
      </tbody>
{%for material in materials%}

      <tr>
       
    <td>{{material.filename}}</td>
    <td>{{material.category_value}}</td>
    <td>{{material.uploaded_date}}</td>
    <td>
      <a href="/class/{{class_id}}/semester/{{semester_id}}/subject/{{subject_id}}/study-materials/module-1/material/{{material.id}}/edit-material" class="btn btn-primary">Edit</a>
    </td>
    <td>
      <form method="post" action="/class/{{class_id}}/semester/{{semester_id}}/subject/{{subject_id}}/study-materials/module-1/material/{{material.id}}/remove-material">
        {%csrf_token%}<button class="btn btn-danger btn-md" type="submit">Remove</form>
    </td>



</tr>
{%endfor%}
     
  
    </table>
  </div>
{%endblock%}
