{% extends 'base.html'%}
{% load static %}
{% block content %}
<div class="row mt-2">
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

{% for message in messages%}
<script>
  swal({title:'{{message}}'}).then(function() {
    window.location.replace('/view-materials')

  });
</script>
{%endfor%}
    {%for material in material_list%}
    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title mx-auto">{{material.subject.subjectname}}</h5>
              <a href="/view-materials/semester/{{material.semester_id}}/subject/{{material.subject.id}}/list-materials" class="btn btn-primary">SELECT</a>
            </div>
          </div>
    </div>
    {%endfor%}
</div>
{%endblock%}