{% extends 'base.html'%}
{% load static %}
{% block content %}
<div class="container">
    <div class="row ">
        <div class="col-md-12 mt-5" >
            <div class="card d-flex ">
                <div class="card-body d-flex  ">
                    
                    <div class="col-md-2 ml-1"> <button class="btn btn-primary "><a href="/class/{{class_id}}/subject/{{subject_id}}/study-materials/module-1">MODULE 1</a></button></div>
                    <div class="col-md-2 ml-1"> <button class="btn btn-primary "><a href="/class/{{class_id}}/subject/{{subject_id}}/study-materials/module-2">MODULE 2</a></button></div>
                    <div class="col-md-2 ml-1"> <button class="btn btn-primary "><a href="/class/{{class_id}}/subject/{{subject_id}}/study-materials/module-3">MODULE 3</a></button></div>
                    <div class="col-md-2 ml-1"> <button class="btn btn-primary "><a href="/class/{{class_id}}/subject/{{subject_id}}/study-materials/module-4">MODULE 4</a></button></div>
                    <div class="col-md-2 ml-1"> <button class="btn btn-primary "><a href="/class/{{class_id}}/subject/{{subject_id}}/study-materials/module-5">MODULE 5</a></button></div>
                    <div class="col-md-2 ml-1"> <button class="btn btn-primary "><a href="/class/{{class_id}}/subject/{{subject_id}}/study-materials/module-6">MODULE 6</a></button></div>

                    
              </div>
        </div>

    </div>

</div>


{%endblock%}