
{% extends 'base.html'%}
{% load static %}
{% block content %}
 <!-- <form action="" method="post">
  {%csrf_token%}
  <div class="row">
    <div class="col-md-6">
      <label for="inputState" class="form-label">Choose Semester</label>
      <select id="inputState" class="form-select" name="semester">
      {%for semester in semesters %}
        <option selected value="{{semester.id}}">{{semester.semname}}</option>
      {%endfor%}
      </select>
    </div>
    <div class="col-md-6">
    <button class="btn btn-primary btn-sm mt-4">Submit</button>
  </div> -->
  <div class="row">
    {%for semester in semester_list %}

    <div class="col-md-3 mb-5 mt-5">
      <div class="card" style="width: 18rem;">
        <div class="card-body text-center">
          
          <a href="/view-materials/semester/{{semester.id}}" class="btn btn-primary btn-default" name="semester">{{semester.semname}}</a>
        </div>
      </div>
    </div>
    {%endfor%}
  </div>
 



{%endblock%}


