{% extends 'base.html'%}
{% load static %}
{% block content %}
<style>
  .error{
      color: red;
  }
</style>
<form method="post" href="/add-mark" id="add_mark">
{%csrf_token%}

    <div class="row">
        
          <div class="col-md-6">
            <label  class="form-label">Exam Type</label>
            <select  class="form-select" name="type">
                {%for exam in exams%}
                <option selected value="{{exam.0}}">{{exam.1}}</option>
                {%endfor%}
              </select>
          </div>
            <div class="col-md-6 mt-3">
                <label  class="form-label">Total Mark</label>
                <input type="text" class="form-control" name="tmark"  >
            </div>
            <div class="col-md-6 mt-3">
                <label  class="form-label"> Scored Mark</label>
                <input type="text" class="form-control" name="smark"  >
            </div>
          
    </div>
    <div class="row">
    <div class="col-12 text-center">
        <button type="submit" class="btn btn-primary mt-5">ADD</button>
      </div>
    </div>
</form>
{%endblock%}
{%block script%}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js" integrity="sha512-rstIgDs0xPgmG6RX1Aba4KV5cWJbAMcvRCVmglpam9SoHZiUCyQVDdH2LPlxoHtrv17XWblE/V/PP+Tr04hbtA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
$(document).ready(function () {
  $("#add_mark").validate({
    rules: {
      tmark: {
        required: true,
        number: "Please enter a valid number",
      },
      smark: {
        required: true,
        number: "Please enter a valid number",

      },
    },
  });
});
</script>
{%endblock%}