{% extends 'base.html'%}
{% load static %}
{% block content %}
<div class="row mt-5 mb-5">
    {%for exam in exam_types%}
  
      <div class="col-md-4 mt-5">
          <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title ml-5" value="{{exam.0}}">{{exam.1}}</h5>
                <a href="/performance/semester/{{semester_id}}/performance-display/{{exam.0}}" class="btn btn-primary">VIEW MARK</a>
              </div>
            </div>
      </div>
      {%endfor%}
  
  </div>
  {%endblock%}