{% extends 'base.html'%}
{% load static %}
{% block content %}
<h6>Category: {{assignment.assignment.type_value}}</h6>
<form method="post" href="/class/{{class_id}}/semester/{{semester_id}}/subject/{{subject_id}}/student/{{student_id}}/submitted-assignment/{{submitted_assignment_id}}/assign-mark" >
    {%csrf_token%}
    
        <div class="row mt-5">
            <div class="col-md-6">
                <label  class="form-label">Scored</label>
                <input type="text" class="form-control" name="scored">
            </div>
            <div class="col-md-6">
                <label  class="form-label">Out of</label>
                <input type="text" class="form-control" name="outof">
            </div>
              
        </div>
        <div class="row">
        <div class="col-12 text-center">
            <button type="submit" class="btn btn-primary mt-5">ADD</button>
        </div>
        </div>
    </form>

{%endblock%}