{% extends 'base.html'%}
{% load static %}
{% block content %}
<div class="row mb-5">
  <div class="col-md-4"></div>
  <div class="col-md-4">
        <a href="/class/{{class_id}}/semester/{{semester_id}}/subject/{{subject_id}}/edit-attendence" class="btn btn-primary" type="submit">EDIT ATTENDENCE</a>
  </div>
  <div class="col-md-4">
    <a href="/class/{{class_id}}/semester/{{semester_id}}/subject/{{subject_id}}/attendence" class="btn btn-primary" type="submit">ADD ATTENDENCE</a>
</div>
  </div>
<form method="get">
    <div class="row">
        <div class="col-md-6">
            <label class="form-label">Choose Date</label>
            <input type="date" class="form-control" name="date" id="date" value="{{selected_date}}">
        </div>
        <div class="col-md-6">
          <label class="form-label">Choose Hour</label>
          <select id="classhour" class="form-select" name="hour">
            {%for hour in hours%}
              <option   name="hour" value="{{hour.0}}" id="hour">{{hour.1}}</option>
            {%endfor%}
            </select>
      </div>
      </div>
      <div class="row">
        <div class="col-12 text-center mt-5">
            <button type="submit" class="btn btn-primary">VIEW</button>
          </div>
      </div>
</form>

<table class="table" id="list_classes">
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

  <div>
            {% for message in messages%}
            <script>
              swal('{{message}}')
            </script>
            {%endfor%}
    </div>
    <thead>
      <tr>
        <th scope="col">Student name</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
        {%for student in attendences%}
       <tr>
        <td>{{student.student.user.first_name}}</td>
        <td>
            {%if student.is_present is True%}
            <h6 style="color: green;">Present</h6>
            {%else%}
            <h6 style="color: red;">Absent</h6>
            {%endif%}
        </td>
       </tr>
       {%endfor%}
    </tbody>
  </table>
  
{%endblock%}
{%block script%}
<script>
  $(document).ready(function () {
      console.log("offer check")
      let today = new Date()
      var dd = today.getDate();
      var mm = today.getMonth() + 1;

      var yyyy = today.getFullYear();
      if (dd < 10) {
          dd = '0' + dd;
      }
      if (mm < 10) {
          mm = '0' + mm;
      }
      today = yyyy + '-' + mm + '-' + dd;


      $('#date').attr('max', today)
      $('#date').change(function () {
          let date = document.getElementById('date').value
          $('#date').attr('max', date)
      })

      
  })
</script>
{%endblock%}