{% extends 'base.html'%}
{% load static %}
{% block content %}
<!-- <div>
    {%for message in messages%}
        <div class="alert alert-light text-center text-danger alert-dismissible fade show">
            <span> {{message}}</span>

        </div>
    {%endfor%}
</div> -->
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

{% for message in messages%}

        <script>
          swal({title:'{{message}}'}).then(function() {
            window.location.replace('/profile')
        
          });
        </script>
{%endfor%}
{%endblock%}