{% extends 'base.html'%}
{% load static %}
{% block content %}
<form class="row g-3" method="post" href="/add-student" enctype="multipart/form-data" >
    {%csrf_token%}
    <div class="col-md-6">
      <label for="inputEmail4" class="form-label">Name</label>
      <input type="text" class="form-control" name="name">
    </div>
    <div class="col-md-6">
      <label for="inputEmail4" class="form-label">Admission Number</label>
      <input type="text" class="form-control" name="admsn_no">
    </div>
    {%if request.user.position == 'HD' or is_tutor%}
    <div class="col-md-6">
    <label  class="form-label">Department</label>
    <input type="text" class="form-control" name="name" value="{{request.user.department.dname}}" disabled>
    </div>
    {%else%}
    <div class="col-md-6">
        <label for="inputState" class="form-label">Department</label>
        <select id="inputState" class="form-select" name="department">
        {%for department in departments %}
          <option selected value="{{department.id}}">{{department.dname}}</option>
        {%endfor%}
        </select>
      </div>
      {%endif%}
      <div class="col-md-6">
        <label for="inputState" class="form-label">Semester</label>
        <select id="inputState" class="form-select" name="semester">
        {%for semester in semesters %}
          <option selected value="{{semester.id}}">{{semester.semname}}</option>
        {%endfor%}
        </select>
      </div>
      {%if is_tutor%}
      <div class="col-md-6">
        <label  class="form-label">Class</label>
        <input type="text" class="form-control" name="class" value="CSE" disabled>
        </div>
        {%elif request.user.role == 'PR' or request.user.position == 'HD'%}
        <div class="col-md-6">
          <label for="inputState" class="form-label">Semester</label>
          <select id="inputState" class="form-select" name="class">
          {%for class in batches %}
            <option selected value="{{class.id}}">{{class.classname}}</option>
          {%endfor%}
          </select>
        </div>
      {%endif%}
      
    <div class="col-md-6">
      <label for="inputPassword4" class="form-label">Email</label>
      <input type="email" class="form-control" name="email" >
    </div>
    <div class="col-6">
      <label for="inputAddress" class="form-label">Mobile</label>
      <input type="text" class="form-control" name="mobile">
    </div>
    <div class="col-6">
      <label for="inputAddress" class="form-label">Password</label>
      <input type="text" class="form-control" name="password">
    </div>
    <div class="col-md-6">
      <label for="inputEmail4" class="form-label">Parent Name</label>
      <input type="text" class="form-control" name="p_name">
    </div>
    <div class="col-6">
      <label for="inputAddress" class="form-label">Parent Mobile</label>
      <input type="text" class="form-control" name="p_mobile">
    </div>
    <div class="col-md-6 mt-3">
      <label class="labels">Upload Profile image</label>
      <input type="file" class="form-control" accept="image/*" name="profile_image"
              required>
    </div>
    <div class="col-12 text-center">
      <button type="submit" class="btn btn-primary">ADD</button>
    </div>
  </form>
{%endblock%}