{% extends 'base.html'%}
{% load static %}
{% block content %}
<style>
  .error{
    
      color: red;
    
  }
</style>
<form method="post" href="/add-subject" id="add_subject">
{%csrf_token%}
<div class="col-md-6">
    <label class="form-label">Subject Name</label>
    <input type="text" class="form-control" name="subject_name">
  </div>
  <div class="col-md-6">
    <label class="form-label">Subject Code</label>
    <input type="text" class="form-control" name="subject_code">
  </div>
  <div class="col-md-6">
    <label for="inputState" class="form-label">Teacher</label>
    <select id="inputState" class="form-select" name="assigned">
    {%for teacher in teachers %}
      <option selected value="{{teacher.id}}">{{teacher.first_name}}</option>
    {%endfor%}
    </select>
  </div>
  <div class="col-md-6">
    <label class="form-label">Class</label>
    <input type="text" class="form-control" name="class" value="{{class_belongs_to.classname}}"  disabled>
  </div>
    <button class="btn btn-primary mt-5">  ADD</button>

</form>
{%endblock%}
{%block script%}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js" integrity="sha512-rstIgDs0xPgmG6RX1Aba4KV5cWJbAMcvRCVmglpam9SoHZiUCyQVDdH2LPlxoHtrv17XWblE/V/PP+Tr04hbtA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
$(document).ready(function () {
  $("#add_subject").validate({
    rules: {
      subject_name: {
        required: true,
      },
      subject_code: {
        required: true,
      },
    },
  });
});
</script>
{%endblock%}