{% extends 'base.html'%}
{% load static %}
{% block content %}
<style>
  .error{
    
      color: red;
    
  }
</style>
<form class="row g-3" method="post" href="/add-student" enctype="multipart/form-data" id="add_student" >
    {%csrf_token%}
    <div class="col-md-6">
      <label for="inputEmail4" class="form-label" >Name</label>
      <input type="text" class="form-control" name="name" id="admsn_no">
    </div>
    <div class="col-md-6">
      <label for="inputEmail4" class="form-label" >Admission Number</label>
      <input type="text" class="form-control" name="admsn_no" id="number">
    </div>
    {%if request.user.position == 'HD' or is_tutor%}
    <div class="col-md-6">
    <label  class="form-label">Department</label>
    <input type="text" class="form-control" name="name" value="{{request.user.department.dname}}" disabled>
    </div>
    {%else%}
    <div class="col-md-6">
        <label for="inputState" class="form-label">Department</label>
        <select id="inputState" class="form-select" name="department">
        {%for department in departments %}
          <option selected value="{{department.id}}">{{department.dname}}</option>
        {%endfor%}
        </select>
      </div>
      {%endif%}
      <!-- {%if not is_tutor%}
      <div class="col-md-6">
        <label for="inputState" class="form-label">Semester</label>
        <select id="inputState" class="form-select" name="semester">
        {%for semester in semesters %}
          <option selected value="{{semester.id}}">{{semester.semname}}</option>
        {%endfor%}
        </select>
      </div>
      {%endif%} -->
      <div class="col-md-6">
        <label for="inputState" class="form-label">Quota</label>
        <select id="inputState" class="form-select" name="quota">
        {%for quota in quota_list %}
          <option selected value="{{quota.0}}">{{quota.1}}</option>
        {%endfor%}
        </select>
      </div>
      {%if is_tutor%}
      <div class="col-md-6">
        <label  class="form-label">Class</label>
        <input type="text" class="form-control" name="class" value="{{student.classname}}" disabled>
        </div>
        <div class="col-md-6">
          <label  class="form-label">Semester</label>
          <input type="text" class="form-control" name="semester" value="{{student.Semester.semname}}" disabled>
        </div>
        {%elif request.user.role == 'PR' or request.user.position == 'HD'%}
        <div class="col-md-6">
          <label for="inputState" class="form-label">Class</label>
          <select id="inputState" class="form-select" name="class">
          {%for class in batches %}
            <option selected value="{{class.id}}">{{class.Semester.semname}}-{{class.classname}}</option>
          {%endfor%}
          </select>
        </div>
      {%endif%}
      
    <div class="col-md-6">
      <label for="inputPassword4" class="form-label">Email</label>
      <input type="email" class="form-control" name="email" id="email" >
    </div>
    <div class="col-6">
      <label for="inputAddress" class="form-label">Mobile</label>
      <input type="text" class="form-control" name="mobile" id="phone">
    </div>
    <div class="col-6">
      <label for="inputAddress" class="form-label">Password</label>
      <input type="text" class="form-control" name="password" id="password">
    </div>
    <div class="col-md-6">
      <label for="inputEmail4" class="form-label">Parent Name</label>
      <input type="text" class="form-control" name="p_name" id="name">
    </div>
    <div class="col-6">
      <label for="inputAddress" class="form-label">Parent Mobile</label>
      <input type="text" class="form-control" name="p_mobile" id="p_mobile">
    </div>
    <div class="col-md-6 mt-3">
      <label class="labels">Upload Profile image</label>
      <input type="file" class="form-control" accept="image/*" name="profile_image"
              required>
    </div>
    <div class="col-12 text-center">
      <button type="submit" class="btn btn-primary">ADD</button>
    </div>
  </form>
{%endblock%}
{%block script%}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js" integrity="sha512-rstIgDs0xPgmG6RX1Aba4KV5cWJbAMcvRCVmglpam9SoHZiUCyQVDdH2LPlxoHtrv17XWblE/V/PP+Tr04hbtA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
$(document).ready(function () {
  $("#add_student").validate({
    rules: {
      name: {
        required: true,
        minlength: 2,
      },
      admsn_no: {
        required: true,
        maxlength: 5,
      },
      mobile: {
        required: true,
        number: true,
        minlength: 10,
        maxlength: 10,
      },
      p_mobile: {
        required: true,
        number: true,
        minlength: 10,
        maxlength: 10,
      },
      email: {
        required: true,
        email: true,
      },
      password: {
        required: true,
        minlength: 3,
        maxlength: 15,
      },
    },
  });
});
</script>
{%endblock%}