{% extends 'base.html'%}
{% load static %}
{% block content %}
<form class="row g-3" method="post" href="/edit-student" enctype="multipart/form-data" >
    {%csrf_token%}
    <div class="col-md-6">
      <label for="inputEmail4" class="form-label">Name</label>
      <input type="text" class="form-control" name="name" value="{{student.user.first_name}}">
    </div>
    <div class="col-md-6">
      <label for="inputEmail4" class="form-label">Admission Number</label>
      <input type="text" class="form-control" name="admsn_no" value="{{student.admsn_no}}">
    </div>
    {%if request.user.position != 'HD'%}
    <div class="col-md-4">
        <label for="inputState" class="form-label">Department</label>
        <select id="inputState" class="form-select" name="department">
        {%for department in departments %}
        {%if department.dname == student.user.department.dname%}
          <option  value="{{student.user.department_id}}" selected>{{student.user.department.dname}}</option>
          {%else%}
          <option  value="{{department.id}}" >{{department.dname}}</option>
          {%endif%}
        {%endfor%}
        </select>
      </div>
      {%endif%}
      
      <div class="col-md-6">
        <label for="inputState" class="form-label">Quota</label>
        <select id="inputState" class="form-select" name="quota">
        {%for quota in quota_list %}
        {%if quota.0 == student.quota%}
        
        <option  value="{{student.quota}}" selected>{{student.quota_value}}</option>
        {%else%}
        
        <option  value="{{quota.0}}" >{{quota.1}}</option>
        {%endif%}
        {%endfor%}
        </select>
      </div>
      {%if not is_tutor%}
      <div class="col-md-4">
        <label for="inputState" class="form-label">Class</label>
        <select id="inputState" class="form-select" name="batch">
         
        {%for batch in batches %}
        {%if batch.classname == student.batch.classname%}
        <option  value="{{student.batch_id}}" selected>{{student.batch.Semester.semname}}-{{student.batch.classname}}</option>
        {%else%}
        <option  value="{{batch.id}}" >{{batch.Semester.semname}}-{{batch.classname}}</option>
        {%endif%}
        {%endfor%}
        </select>
      </div>
      <!-- <div class="col-md-4">
        <label for="inputState" class="form-label">Semester</label>
        <select id="inputState" class="form-select" name="semester">
        {%for semester in semesters %}
        {%if semester.semname == student.semester.semname%}
        <option  value="{{student.semester_id}}" selected>{{student.semester.semname}}</option>
        {%else%}
        <option  value="{{semester.id}}" >{{semester.semname}}</option>
        {%endif%}
        {%endfor%}
        </select>
      </div> -->
      {%endif%}
      {%if is_tutor%}
      <div class="col-md-6">
        <label  class="form-label">Class</label>
        <input type="text" class="form-control" name="class" value="{{batch.classname}}" disabled>
        </div>
        <div class="col-md-6">
          <label  class="form-label">Semester</label>
          <input type="text" class="form-control" name="semester" value="{{batch.Semester.semname}}" disabled>
          </div>
      {%endif%}
    <div class="col-md-6">
      <label for="inputPassword4" class="form-label">Email</label>
      <input type="email" class="form-control" name="email" value="{{student.user.email}}">
    </div>
    <div class="col-6">
      <label for="inputAddress" class="form-label">Mobile</label>
      <input type="text" class="form-control" name="mobile" value="{{student.user.phone}}">
    </div>
    <div class="col-md-6">
      <label for="inputEmail4" class="form-label">Parent Name</label>
      <input type="text" class="form-control" name="p_name" value="{{student.parent_name}}">
    </div>
    <div class="col-6">
      <label for="inputAddress" class="form-label">Parent Mobile</label>
      <input type="text" class="form-control" name="p_mobile" value="{{student.parent_mobile}}">
    </div>
    <div class="col-md-6 mt-3">
      <label class="labels">Edit Profile image</label>
      <input type="file" class="form-control" accept="image/*" name="profile_image">
    </div>
   
    <div class="col-12 text-center">
      <button type="submit" class="btn btn-primary">EDIT</button>
    </div>
  </form>
{%endblock%}