{% extends 'base.html'%}
{% load static %}
{% block content %}
<form class="row g-3" method="post" href="/edit-student">
    {%csrf_token%}
    <div class="col-md-6">
      <label for="inputEmail4" class="form-label">Name</label>
      <input type="text" class="form-control" name="name" value="{{student.user.first_name}}">
    </div>
    <div class="col-md-6">
      <label for="inputEmail4" class="form-label">Admission Number</label>
      <input type="text" class="form-control" name="admsn_no" value="{{student.admsn_no}}">
    </div>
    <div class="col-md-4">
        <label for="inputState" class="form-label">Department</label>
        <select id="inputState" class="form-select" name="department">
        {%for department in departments %}
          <option selected value="{{department.id}}">{{department.dname}}</option>
        {%endfor%}
        </select>
      </div>
      <div class="col-md-4">
        <label for="inputState" class="form-label">Semester</label>
        <select id="inputState" class="form-select" name="semester">
        {%for semester in semesters %}
          <option selected value="{{semester.id}}">{{semester.semname}}</option>
        {%endfor%}
        </select>
      </div>
      <div class="col-md-4">
        <label for="inputState" class="form-label">Class</label>
        <select id="inputState" class="form-select" name="batch">
        {%for batch in batches %}
          <option selected value="{{batch.id}}">{{batch.classname}}</option>
        {%endfor%}
        </select>
      </div>
    <div class="col-md-6">
      <label for="inputPassword4" class="form-label">Email</label>
      <input type="email" class="form-control" name="email" value="{{student.user.email}}">
    </div>
    <div class="col-6">
      <label for="inputAddress" class="form-label">Mobile</label>
      <input type="text" class="form-control" name="mobile" value="{{student.user.phone}}">
    </div>
    <div class="col-md-6">
      <label for="inputEmail4" class="form-label">Parent Name</label>
      <input type="text" class="form-control" name="p_name" value="{{student.parent_name}}">
    </div>
    <div class="col-6">
      <label for="inputAddress" class="form-label">Parent Mobile</label>
      <input type="text" class="form-control" name="p_mobile" value="{{student.parent_mobile}}">
    </div>
   
    <div class="col-12 text-center">
      <button type="submit" class="btn btn-primary">EDIT</button>
    </div>
  </form>
{%endblock%}