{% extends 'base.html'%}
{% load static %}
{% block content %}
<form class="row g-3" method="post" href="/edit-teacher/{{user_id}}" enctype="multipart/form-data">
    {%csrf_token%}
   
    <div class="col-md-6">
      <label for="inputEmail4" class="form-label">Name</label>
      <input type="text" class="form-control" name="name" value="{{teacher.first_name}}">
    </div>
    {%if request.user.position != 'HD'%}
    
    <div class="col-md-6">
        <label for="inputState" class="form-label">Department</label>
        <select id="inputState" class="form-select" name="department" >
        {%for department in departments %}
          <option selected value="{{department.id}}">{{department.dname}}</option>
        {%endfor%}
        </select>
    </div>
    {%endif%}
    <div class="col-md-6">
      <label for="inputPassword4" class="form-label">Email</label>
      <input type="email" class="form-control" name="email" value="{{teacher.email}}">
    </div>
    <div class="col-6">
      <label for="inputAddress" class="form-label">Mobile</label>
      <input type="text" class="form-control" name="mobile" value="{{teacher.phone}}">
    </div>
    
   
    <div class="col-md-6">
      <label for="inputState" class="form-label">Position</label>
      <select id="inputState" class="form-select" name="position" >
        {%for position in positions%}
        <option selected value="{{position.0}}">{{position.1}}</option>
        {%endfor%}
      </select>
    </div>
    <div class="col-md-6 mt-3">
      <label class="labels">Edit Profile image</label>
      <br>
      {% if teacher.profile_image %}
      <img src="{{teacher.profile_image_url}}" alt="Image here" style="height: 30px;width:30px">
      {%endif%}
      
      <input type="file" class="form-control" accept="image/*" name="profile_image">
    </div>
   
    <div class="col-12 text-center">
      <button type="submit" class="btn btn-primary">EDIT</button>
    </div>
  </form>
{%endblock%}