{% extends 'base.html'%}
{% load static %}
{% block content %}
<div class="row">
  <div class="col-md-8"></div>
  <div class="col-md-4">
  
        <a href="/add-teachers" class="btn btn-primary" type="submit">ADD TEACHERS
          <i class="mdi mdi-plus icon-sm align-middle"></i></a>
     
  
  </div>
  </div>
  <div class="table-responsive">
<table class="table " id="list_teachers">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Department</th>
        <th scope="col">Position</th>
        <th scope="col" class="text-center">Status</th>
        <th scope="col">Mobile</th>
        <th scope="col">Email</th>
        <th scope="col">Profile Image</th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {%if request.user.role == 'PR'%}
        {%for teacher in teachers%}
        
      <tr>
        <td>{{teacher.first_name}} {{teacher.last_name}}</td>
        <td>{{teacher.department.dname}}</td>
        <td>{{teacher.position_value}}</td>
        <td>
         

          {%if teacher.is_active is True%}
          <button class="btn btn-info" type="submit">Approved</button>
          {%else%}
          <button class="btn btn-danger" type="submit">Dispproved</button>
          {%endif%}
       
        </td>
        <td>{{teacher.phone}}</td>
        <td>{{teacher.email}}</td>
        <td><img src="{{teacher.profile_image_url}}" alt=""></td>
       
        <td>                         

             <a class="btn btn-primary btn-sm"  href="/edit-teacher/{{teacher.id}}" type="submit">EDIT</form>
         </td>
        <td>                         
          <form method="post" action="/approve-teacher/{{teacher.id}}">
              {%csrf_token%}<button class="btn btn-primary btn-sm" type="submit">APPROVE/DISAPPROVE</form>
         </td>
         <td>
          {%for edit in edits%}
  
          {%if edit.user_id == teacher.id%}
          <a class="btn btn-primary btn-sm"  href="/edit-profile/request/{{teacher.id}}" type="submit">EDIT REQUESTS</a>
          {%endif%}
          
          {%endfor%}
         </td>
         <td>
          <form method="post" action="/remove-teacher/{{teacher.id}}">
              {%csrf_token%}<button class="btn btn-danger btn-sm" type="submit">Remove</form>
      </td>
 
      {%endfor%}
      {%endif%}
      {%if request.user.role == 'TR' and request.user.position == 'HD'%}
      
      {%for teacher in teacher_belongs%}
      
      <td>{{teacher.first_name}}</td>
        <td>{{teacher.department.dname}}</td>
        <td>{{teacher.position_value}}</td>
        <td>
         

          {%if teacher.is_active is True%}
          <button class="btn btn-info" type="submit">Approved</button>
          {%else%}
          <button class="btn btn-danger" type="submit">Dispproved</button>
          {%endif%}
       
        </td>
        <td>{{teacher.phone}}</td>
        <td>{{teacher.email}}</td>
        <td><img src="{{teacher.profile_image_url}}" alt=""></td>
       
        <td>                         

             <a class="btn btn-primary btn-sm"  href="/edit-teacher/{{teacher.id}}" type="submit">EDIT</form>
         </td>
        <td>                         
          <form method="post" action="/approve-teacher/{{teacher.id}}">
              {%csrf_token%}<button class="btn btn-primary btn-sm" type="submit">APPROVE/DISAPPROVE</form>
         </td>
         <td>
          {%for edit in edits%}
  
          {%if edit.user_id == teacher.id%}
          <a class="btn btn-primary btn-sm"  href="/edit-profile/request/{{teacher.id}}" type="submit">EDIT REQUESTS</a>
          
          {%endif%}
          {%endfor%}
          

         </td>
        
        <td>
            <form method="post" action="/remove-teacher/{{teacher.id}}">
                {%csrf_token%}<button class="btn btn-danger btn-sm" type="submit">Remove</form>
        </td>
   
      </tr>
      {%endfor%}
      {%endif%}


    </tbody>
  </table>
</div>
{%endblock%}
{%block script%}
<script>
    $(function () {
        $("#list_teachers").dataTable();
    })
</script>
{%endblock%}