{% extends 'base.html'%}
{% load static %}
{% block content %}
<div class="row">
  <div class="col-md-8"></div>
  <div class="col-md-4">
  
        <a href="/add-student" class="btn btn-primary" type="submit">ADD STUDENT
          <i class="mdi mdi-plus icon-sm align-middle"></i></a>
     
  
  </div>
  </div>
  <div class="table-responsive">
<table class="table" id="list_students">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Admission Number</th>
        <th scope="col">Class</th>
        <th scope="col">Semester</th>
        <th scope="col">Department</th>
        <th scope="col">Status</th>

        <th scope="col">Mobile</th>
        <th scope="col">Email</th>
        <th scope="col">Parent Name</th>
        <th scope="col">Parent Mobile</th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
        {%for student in students%}
      <tr>
        <td>{{student.user.first_name}}</td>
        <td>{{student.admsn_no}}</td>
        <td>{{student.batch.classname}}</td>
        <td>{{student.batch.Semester.semname}}</td>
        <td>{{student.user.department.dname}}</td>
        <td>
         

          {%if student.user.is_active is True%}
          <button class="btn btn-info" type="submit">Approved</button>
          {%else%}
          <button class="btn btn-danger" type="submit">Dispproved</button>
          {%endif%}
       
        </td>
        <td>{{student.user.phone}}</td>
        <td>{{student.user.email}}</td>
        <td>{{student.parent_name}}</td>
        <td>{{student.parent_mobile}}</td>
       
        
        <td>                         

             <a class="btn btn-primary btn-sm"  href="/edit-student/{{student.user.id}}" type="submit">EDIT</form>
         </td>
        <td>                         
          <form method="post" action="/approve-student/{{student.user.id}}">
              {%csrf_token%}<button class="btn btn-primary btn-sm" type="submit">APPROVE/DISAPPROVE</form>
         </td>
        
        <td>
            <form method="post" action="/remove-student/{{student.user.id}}">
                {%csrf_token%}<button class="btn btn-danger btn-sm" type="submit">Remove</form>
        </td>
      </tr>
      {%endfor%}
    </tbody>
  </table>
</div>
{%endblock%}
{%block script%}
<script>
    $(function () {
        $("#list_students").dataTable();
    })
</script>
{%endblock%}