{% extends 'base.html'%}
{% load static %}
{% block content %}
<h1>{{teacher.classname}}</h1>
<h3>{{teacher.Semester.semname}}</h3>
<h2>Allocated Subjects</h2>
<a href="/add-subject" class="btn btn-primary" type="submit">ADD SUBJECT
    <i class="mdi mdi-plus icon-sm align-middle"></i></a>
<div class="row">
    <div class="col-md-8"></div>
   
    </div>
    <div class="table-responsive">
  <table class="table" id="edit_requests">
      <thead>
        <tr>
          <th scope="col">Subject Name</th>
          <th scope="col">Subject Code</th>
          <th scope="col">Assigned Teacher</th>
          <th></th>
          <th></th>
        </tr>
      </thead>    
      </tbody>
      {%for subject in subject_details%}

      <tr>
       
        <td>{{subject.subjectname}}</td>
        <td>{{subject.subjectcode}}</td>
        <td>{{subject.assigned_to.first_name}}</td>

  
        <td>                         

            <a class="btn btn-primary btn-sm"  href="/edit-subject/{{subject.id}}" type="submit">EDIT</form>
        </td>
       <td>
        <form method="post" action="/remove-subject/{{subject.id}}">
          {%csrf_token%}<button class="btn btn-primary btn-sm" type="submit">REMOVE</form>
         </td>
  
  
      </tr>
     
      
      {%endfor%}
  
    </table>
    {%for message in messages%}
    <div class="alert alert-light text-center text-danger alert-dismissible fade show">
        <span> {{message}}</span>

    </div>
    {%endfor%}
    <!-- href="/class/{{teacher.id}}/semester/{{teacher.Semester_id}}/add-timetable" -->

    <button data-bs-toggle="modal" data-bs-target="#upload"  class="btn btn-primary" type="submit">Add Time Table</button>
    {%for time in timetable%}
    <td>
      <a href="{{time.time_table.url}}" download="{{time.time_table.url}}" class="btn btn-primary" type="submit" >VIEW TIMETABLE<i class="mdi mdi-arrow-down icon-sm align-middle"></i></a>
    </td> 
    {%endfor%}
    {%if is_uploaded is  True%}
    <button data-bs-toggle="modal" data-bs-target="#upload"  class="btn btn-primary" type="submit">Edit Time Table</button>


    {%endif%}

    <!-- Modal -->
<div class="modal fade" id="upload" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- <input type="file" class="btn btn-primary"> -->
        <form method='post' action='/class/{{teacher.id}}/semester/{{teacher.Semester_id}}/add-timetable' enctype="multipart/form-data">
          {%csrf_token%}
          Select file : <input type='file' name='timetable' id='file' class='form-control' ><br>
         <button type="submit" class="btn btn-primary">UPLOAD</button>

        </form>


      </div>
      
    </div>
  </div>
</div>
  </div>
{%endblock%}