{% extends 'base.html'%}
{% load static %}
{% block content %}
<div class="container">

    <div class="row">
        {%for subject in classes%}
        <div class="col-md-4 mt-5">
            <div class="card" style="width: 18rem;">
                <div class="card-body ">
                    <a href="/student-details/{{subject.class_belongs_id}}/{{subject.id}}"> 
                    <h4 class="card-title mx-4">{{subject.subjectname}} - {{subject.subjectcode}}</h4>
                  <h5 class="card-title mx-5">{{subject.class_belongs.Semester.semname}} {{subject.class_belongs.classname}}</h5>
                </a>
              </div>
        </div>
        {%endfor%}

    </div>

</div>
{%endblock%}