{% extends 'base.html'%}
{% load static %}
{% block content %}
{%for time in timetable%}
    <td>
      <a href="{{time.time_table.url}}" download="{{time.time_table.url}}" class="btn btn-primary" type="submit" >DOWNLOAD TIMETABLE<i class="mdi mdi-arrow-down icon-sm align-middle"></i></a>
    </td> 
    {%endfor%}
    <!-- <div class="row">
  
      <div class="col-md-6 mb-5 mt-5">
        <div class="card" style="width: 18rem;">
          <div class="card-body col-md-6 text-center">
      {%for time in timetable %}
            
            <a href="{{time.time_table.url}}" download="{{time.time_table.url}}" class="btn btn-primary btn-default" >DOWNLOAD TIMETABLE<i class="mdi mdi-arrow-down icon-sm align-middle"></i></a>
      {%endfor%}

          </div>
        </div>
      </div>
    </div> -->
{%endblock%}